body {
  font-family: Arial;
  background-color: #121212;
  color: #f1f1f1;
}

.title {
  text-align: center;
  font-size: 2cm;
  font-weight: bold;
  color: #f1f1f1;
  margin-bottom: 1%;
}

.paragraph-button {
  text-align: center;
}

.move-buttons {
  font-size: 3cm;
  padding: 1%;
  min-width: 7.5cm;
  background-color: #121212;
  border-radius: 7cm;
  border-width: 10px;
  margin: 0px 5px;
  cursor: pointer;
}

div {
  text-align: center;
  padding: 10px 10px;
  font-size: 1.3cm;
}

.reset, .auto-play {
  text-align: center;
  font-size: 1.1cm;
  font-weight: bold;
  color: #f1f1f1;
  min-width: 12cm;
  padding: 10px;
  border-width: 7px;
  border-radius: 50px;
  margin: 0px 5px;
  background-color: #121212;
  cursor: pointer;
}