body {
  font-family: Arial;
  background-color: #121212;
  color: #f1f1f1;
}

.title {
  text-align: center;
  font-size: 230%;
  font-weight: bold;
  color: #f1f1f1;
  margin-bottom: 1%;
}

.paragraph-button {
  text-align: center;
}

.move-buttons {
  font-size: 230%;
  padding: 1%;
  min-width: 15%;
  background-color: #121212;
  border-radius: 50px;
  border-width: 5px;
  margin: 0px 5px;
  cursor: pointer;
}

div {
  text-align: center;
  padding: 10px 10px;
  font-size: 130%;
}

.reset, .auto-play {
  text-align: center;
  font-size: 75%;
  font-weight: bold;
  color: #f1f1f1;
  min-width: 19%;
  padding: 10px;
  border-width: 5px;
  border-radius: 50px;
  margin: 0px 5px;
  background-color: #121212;
  cursor: pointer;
}